Repository StreamLineLabs/streamline: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-deny, cargo-doc, cargo-audit

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-deny: any of: (Cargo\.toml|Cargo\.lock)$
  cargo-doc: any of: \.rs$
  cargo-audit: any of: (Cargo\.toml|Cargo\.lock)$

ci: add benchmark and release workflows
  .github/workflows/benchmark.yml
  .github/workflows/docs-sync.yml
  .github/workflows/jepsen.yml
  .github/workflows/lts.yml
  .github/workflows/migration-test.yml
  .github/workflows/nightly-benchmarks.yml
  .github/workflows/publish-sdks.yml
  .github/workflows/release-gate.yml
  .github/workflows/scorecard.yml
  .github/workflows/sdk-conformance.yml
  .github/workflows/v1-readiness.yml
Due: none

feat: add FaaS engine with function registry and triggers
  src/faas/engine.rs
  src/faas/function.rs
  src/faas/mod.rs
  src/faas/registry.rs
  src/faas/trigger.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

refactor: update CDC connectors for MySQL and MongoDB
  src/cdc/mongodb.rs
  src/cdc/mysql.rs
  src/cdc/universal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: add StreamQL continuous queries and CEP engine
  src/streamql/cep.rs
  src/streamql/checkpoint.rs
  src/streamql/continuous.rs
  src/streamql/engine.rs
  src/streamql/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: implement geo-replication and WAN batching
  src/replication/geo.rs
  src/replication/mod.rs
  src/replication/sender.rs
  src/replication/wan_batch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: add connector framework with WASM support
  src/connect/builtin.rs
  src/connect/builtin_extended.rs
  src/connect/declarative.rs
  src/connect/hub.rs
  src/connect/wasm_connector.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

refactor: update server APIs and rate limiting
  src/server/cluster_api.rs
  src/server/dashboard_api.rs
  src/server/fleet_api.rs
  src/server/kafka_connect_api.rs
  src/server/limits.rs
  src/server/mod.rs
  src/server/schema_api.rs
  src/server/streamql_api.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: add observability with anomaly detection
  src/ai/auto_embed.rs
  src/ai/feature_store.rs
  src/ai/mod.rs
  src/ai/providers.rs
  src/observability/anomaly.rs
  src/observability/auto_instrument.rs
  src/observability/tracing.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: implement edge fleet management
  src/cli_utils/init_project.rs
  src/edge/fleet.rs
  src/featurestore/materialized_views.rs
  src/lineage/gdpr.rs
  src/plugin/extensions.rs
  src/ui/management.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: add transaction support and protocol updates
  src/config/args.rs
  src/config/merge.rs
  src/config/mod.rs
  src/error.rs
  src/lib.rs
  src/protocol/kafka.rs
  src/protocol/kafka/data_plane.rs
  src/schema/store.rs
  src/transaction/jepsen.rs
  src/transaction/mod.rs
  src/transaction/saga.rs
  src/ui/routes.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

build: update Makefile and add benchmark harness
  Doxyfile
  Makefile
  benches/comparative/dashboard/generate_dashboard.py
  benches/comparative/dashboard/update_docs_benchmarks.py
  benches/comparative/mod.rs
  benches/comparative/run_comparative.sh
  benchmark-results/comparative-results.json
  contrib/grafana-datasource/README.md
  contrib/grafana-datasource/dashboards/cluster-overview.json
  contrib/grafana-datasource/package.json
  contrib/grafana-datasource/plugin.json
  contrib/grafana-datasource/src/ConfigEditor.tsx
  contrib/grafana-datasource/src/QueryEditor.tsx
  contrib/grafana-datasource/src/datasource.ts
  contrib/grafana-datasource/src/module.ts
  contrib/grafana-datasource/src/types.ts
  contrib/grafana-datasource/tsconfig.json
  contrib/openmessaging-benchmark/docker-compose.benchmarks.yml
  contrib/openmessaging-benchmark/k8s/streamline.yaml
  dev/bench/index.html
  examples/external-clients/go/consumer.go
  examples/external-clients/go/producer.go
  fuzz/fuzz_targets/fuzz_kafka_requests.rs
  fuzz/fuzz_targets/fuzz_request_decode.rs
  fuzz/fuzz_targets/fuzz_response_parse.rs
  include/streamline.h
  scripts/check-v1-readiness.sh
  scripts/record-demo.sh
  tests/cross_sdk/CONFORMANCE_SPEC.md
  tests/cross_sdk/docker_compose.yml
  tests/cross_sdk/generate_badges.py
  tests/cross_sdk/run_all.sh
  tests/cross_sdk/run_conformance.py
  tests/streamql/compat_test.sh
  tests/tls_test.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: add CDC SQL Server connector module
  .github/workflows/ci.yml
  CHANGELOG.md
  crates/streamline-analytics/src/duckdb.rs
  crates/streamline-analytics/src/lib.rs
  src/ai/embedding.rs
  src/cdc/mod.rs
  src/cdc/sqlserver.rs
  src/cloud/mod.rs
  src/connect/conformance.rs
  src/connect/mod.rs
  src/marketplace/web_registry.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: implement connect runtime framework
  CHANGELOG.md
  src/connect/runtime.rs
  src/devserver/mod.rs
  src/faas/engine.rs
  src/faas/mod.rs
  src/marketplace/mod.rs
  src/replication/failover.rs
  src/schema/store.rs
  src/server/ai_api.rs
  src/server/console_page.rs
  src/server/inspector_api.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

refactor: restructure server HTTP API handlers
  CHANGELOG.md
  src/server/dashboard_api.rs
  src/server/failover_api.rs
  src/server/http.rs
  src/server/mod.rs
  src/server/streamql_api.rs
  src/tenant/manager.rs
  src/tenant/mod.rs
  src/tenant/quota.rs
  src/tenant/types.rs
  tests/conformance_test.rs
  tests/eos_certification_test.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: add marketplace web registry integration
  CHANGELOG.md
Due: none

feat: add FaaS autoscaler for serverless transforms
  src/faas/autoscaler.rs
  src/faas/mod.rs
  src/main.rs
  src/playground/mod.rs
  src/playground/progress.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: integrate AI module into server HTTP routes
  src/ai/gateway.rs
  src/ai/mod.rs
  src/analytics/mod.rs
  src/analytics/streaming_views.rs
  src/server/ai_api.rs
  src/server/http.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: add error hints for common misconfigurations
  docs/SDK_COMPATIBILITY_MATRIX.md
  docs/adr/0011-openraft-cluster-consensus.md
  docs/adr/0012-duckdb-embedded-analytics.md
  docs/adr/0013-wasmtime-transform-runtime.md
  docs/adr/README.md
  src/error/domain.rs
  src/error/hints.rs
  src/error/kafka_error_code.rs
  src/error/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: implement connector file watcher
  .config/nextest.toml
  .github/workflows/benchmark.yml
  .github/workflows/ci-full.yml
  .github/workflows/ci.yml
  .github/workflows/sdk-matrix.yml
  scripts/generate-sdk-matrix.py
  src/cdc/delivery.rs
  src/cdc/mod.rs
  src/cdc/mongodb.rs
  src/connect/mod.rs
  src/connect/watcher.rs
  src/contracts/mod.rs
  src/contracts/validation.rs
  src/edge/mod.rs
  src/edge/power.rs
  src/replication/mod.rs
  src/replication/throttle.rs
  src/ui/mod.rs
  src/ui/query_editor.rs
  src/ui/routes.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

feat: add graceful shutdown signal handling
  src/ai/mod.rs
  src/ai/persistent_store.rs
  src/ai/pipeline.rs
  src/cdc/delivery.rs
  src/cdc/mod.rs
  src/cdc/postgres_offset_store.rs
  src/cdc/slot_manager.rs
  src/cli.rs
  src/cluster/health.rs
  src/cluster/mod.rs
  src/cluster/rebalancer.rs
  src/connect/mod.rs
  src/connect/offset_store.rs
  src/connect/runtime.rs
  src/edge/http_sync.rs
  src/edge/mod.rs
  src/error/mod.rs
  src/faas/mod.rs
  src/faas/sandbox.rs
  src/gateway/mod.rs
  src/gateway/mqtt_handler.rs
  src/lib.rs
  src/server/faas_api.rs
  src/server/http.rs
  src/server/mod.rs
  src/server/observability_api.rs
  src/server/replication_api.rs
  src/server/streamql_api.rs
  src/streamql/mod.rs
  src/streamql/state_store.rs
  src/transaction/eos.rs
  src/transaction/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

fix: resolve partition assignment race condition
  CHANGELOG.md
Due: none

perf: optimize topic metadata cache lookup
  CHANGELOG.md
Due: none

refactor: simplify configuration validation logic
  CHANGELOG.md
Due: none

feat(ai-api): add classify, enrich, stop, stats endpoints and comprehensive tests
  src/ai/pipeline.rs
  src/server/ai_api.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

chore: update CI workflows and dependabot configuration
  .github/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/sdk-conformance.yml
Due: none

docs: stamp changelog for v0.2.0 release
  CHANGELOG.md
Due: none

feat: implement partition reassignment protocol
  .github/workflows/benchmark-ci.yml
  .github/workflows/conformance-matrix.yml
  .github/workflows/jepsen.yml
  .github/workflows/publish-sdks.yml
  Cargo.toml
  SECURITY.md
  docker/docker-compose.benchmark.yml
  docs/CLUSTERING_OPERATIONS.md
  docs/COMPLIANCE.md
  docs/GDPR.md
  docs/KAFKA_CONNECT_COMPATIBILITY.md
  docs/README.md
  docs/SDK_CONFORMANCE_SPEC.md
  docs/SECURITY_AUDIT_SCOPE.md
  docs/adr/ADR-007-query-engine-consolidation.md
  docs/adr/ADR-008-unified-query-api.md
  docs/adr/ADR-009-ai-native-streaming-api.md
  docs/pubsub.md
  examples/ai/anomaly-alerting/README.md
  examples/ai/rag-pipeline/README.md
  examples/ai/semantic-router/README.md
  include/streamline.h
  scripts/run-benchmarks.sh
  src/audit/events.rs
  src/audit/mod.rs
  src/connect/converters.rs
  src/connect/mod.rs
  src/connect/rest_api.rs
  src/connect/smt.rs
  src/connect/task_manager.rs
  src/contracts/validation.rs
  src/server/http.rs
  src/server/kafka_connect_api.rs
  src/server/mod.rs
  src/server/query_api.rs
  src/storage/key_rotation.rs
  src/storage/mod.rs
  src/streamql/continuous.rs
  tests/cluster_failover.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-deny, cargo-doc, cargo-audit

test: add chaos testing framework
  src/config/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

fix: handle edge case in compaction
  README.md
Due: none

feat: implement tiered storage backend
  src/ffi/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

refactor: modularize storage engine
  src/marketplace/declarative.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

style: apply clippy suggestions
  src/storage/key_rotation.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

docs: update architecture decision records
  src/mcp/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc

chore: update Cargo.lock
  src/storage/io_backend/standard.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-doc
