Repository StreamLineLabs/streamline: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

chore: update clippy allow/deny configuration for 0.3 release
  CHANGELOG.md
Due: none

chore(ci): remove stale benchmark workflow files
  .github/workflows/benchmark-ci.yml
  .github/workflows/benchmark.yml
  .github/workflows/benchmarks.yml
  .github/workflows/nightly-benchmarks.yml
  .github/workflows/publish-benchmarks.yml
Due: none

feat(crdt): add GSet, OR-Set, and merge-log CRDT primitives
  src/crdt/gset.rs
  src/crdt/merge_log.rs
  src/crdt/mod.rs
  src/crdt/or_set.rs
Due: unit

feat(edge): add bandwidth estimator, bootstrap, CRDT, and sync-service modules
  src/edge/bandwidth.rs
  src/edge/bootstrap.rs
  src/edge/crdt.rs
  src/edge/mod.rs
  src/edge/sync_service.rs
Due: unit

feat(branches): add branch store, diff, merge, and COW topic reader
  src/branches/diff.rs
  src/branches/iceberg.rs
  src/branches/lineage.rs
  src/branches/merge.rs
  src/branches/metadata.rs
  src/branches/mod.rs
  src/branches/reader.rs
  src/branches/runner.rs
  src/branches/store.rs
Due: unit

feat(security): add local Age key provider, KMS plugin, and attestation types
  src/security/attestation.rs
  src/security/audit.rs
  src/security/aws_kms.rs
  src/security/bypass.rs
  src/security/error.rs
  src/security/kms.rs
  src/security/local_age.rs
  src/security/mod.rs
  src/security/vault.rs
Due: unit

feat(memory): add agent-memory fabric with episodic and semantic tiers
  src/memory/acl.rs
  src/memory/audit.rs
  src/memory/decay.rs
  src/memory/encryption.rs
  src/memory/export.rs
  src/memory/gdpr.rs
  src/memory/mcp_tools.rs
  src/memory/mod.rs
  src/memory/shared.rs
  src/memory/telemetry.rs
  src/memory/tenant.rs
  src/memory/tier_router.rs
Due: unit

feat(ai): add semantic-topics module with HNSW embedding index
  src/ai/mod.rs
  src/ai/semantic_topics/cost_ledger.rs
  src/ai/semantic_topics/embedder.rs
  src/ai/semantic_topics/index.rs
  src/ai/semantic_topics/mod.rs
  src/ai/semantic_topics/reembed.rs
  src/ai/semantic_topics/registry.rs
  src/ai/semantic_topics/worker.rs
Due: unit

feat(contracts): add produce_guard pre-flight contract enforcement
  src/contracts/mod.rs
  src/contracts/produce_guard.rs
Due: unit

feat(server): wire branches, attestation, search, memory, and contracts HTTP APIs
  src/lineage/mod.rs
  src/lineage/openlineage.rs
  src/protocol/kafka.rs
  src/protocol/kafka/search_api.rs
  src/server/attestation_api.rs
  src/server/branches_api/handlers.rs
  src/server/branches_api/mod.rs
  src/server/branches_api/types.rs
  src/server/cluster_api.rs
  src/server/contracts_validate_api.rs
  src/server/dashboard_api.rs
  src/server/http.rs
  src/server/lineage_api.rs
  src/server/memory_api/handlers.rs
  src/server/memory_api/mod.rs
  src/server/memory_api/types.rs
  src/server/mod.rs
  src/server/search_api.rs
Due: unit

feat(cli): add moonshot subcommands for memory, search, branches, contracts, and attestation
  src/cli.rs
  src/cli_attest_cmd.rs
  src/cli_branch.rs
  src/cli_branches_cmd.rs
  src/cli_contract.rs
  src/cli_http.rs
  src/cli_join.rs
  src/cli_memory_cmd.rs
  src/cli_search_cmd.rs
  src/config/mod.rs
  src/lib.rs
Due: unit

feat(mcp): extend tool definitions with agent-memory and semantic-search
  src/mcp/mod.rs
  src/mcp/tools.rs
  src/plugin/extensions.rs
Due: unit

feat(storage): add topic storage with compaction, TTL, and write-through cache
  src/storage/topic.rs
Due: unit

ci: add unified benchmarks, stability-tier-check, and WASM workflows; update CI and release
  .github/workflows/benchmarks-unified.yml
  .github/workflows/ci-full.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/stability-tier-check.yml
  .github/workflows/wasm-build.yml
  scripts/check_stability_tiers.sh
Due: none

feat(benches): add benchmark suites for agent-memory, HNSW recall, and edge performance
  benches/agent_memory/README.md
  benches/agent_memory/decay_sim.rs
  benches/agent_memory/eval_v1.jsonl
  benches/m2_embed_bench.rs
  benches/m2_hnsw_recall.rs
  benches/m3_edge_perf.rs
  benches/streamline_bench.rs
Due: none

build(cargo): add Moonshot feature dependencies; update Cargo.lock
  Cargo.lock
  Cargo.toml
Due: none

test: add CRDT Jepsen tests and semantic-topics end-to-end test suite
  tests/crdt_jepsen.rs
  tests/crdt_testing_plan.md
  tests/semantic_topics_e2e.rs
Due: integration

docs: add ADRs 14-23, moonshot roadmap, CLI reference; update README and CLAUDE.md
  CLAUDE.md
  README.md
  docs/CLI_REFERENCE.md
  docs/adr/0014-default-embedding-model.md
  docs/adr/0015-semantic-index-layout.md
  docs/adr/0016-contract-dsl.md
  docs/adr/0017-event-attestation-format.md
  docs/adr/0018-kms-plugin.md
  docs/adr/0019-agent-memory-tiers.md
  docs/adr/0020-branch-storage.md
  docs/adr/0021-replay-execution.md
  docs/adr/0022-browser-build-features.md
  docs/adr/0023-edge-transport.md
  docs/moonshot-roadmap.md
  docs/protocol-extensions.md
  docs/spikes/m3-crdt-survey.md
  docs/spikes/m5-iceberg-snapshots.md
Due: none

chore: bump version to 0.3.0 and update CHANGELOG
  CHANGELOG.md
  Cargo.toml
Due: none

fix(cdc): validate CDC identifiers and use parameterized queries to prevent injection
  src/cdc/postgres.rs
Due: unit

fix: recover from poisoned locks and improve WebSocket offset lookup error handling
  src/server/mod.rs
  src/server/websocket_streaming.rs
  src/transaction/idempotent.rs
Due: unit

docs(plugin): improve extension template comments with actionable guidance
  src/plugin/extensions.rs
Due: unit

chore: bump version to 0.3.0 across crates, specs, and contrib
  .github/workflows/cross-sdk-integration.yml
  Cargo.lock
  contrib/grafana-datasource/package.json
  contrib/grafana-datasource/plugin.json
  crates/streamline-analytics/Cargo.toml
  crates/streamline-wasm/Cargo.toml
  openapi/streamline-api-v1.yaml
Due: none

docs: update SDK compatibility matrix
  docs/SDK_COMPATIBILITY_MATRIX.md
Due: none

chore(core): reduce strict test lint noise
  clippy.toml
  crates/streamline-analytics/src/duckdb.rs
Due: none

fix(tls): standardize outbound clients on AWS-LC rustls
  Cargo.lock
  Cargo.toml
  README.md
  src/ai/gateway.rs
  src/ai/providers.rs
  src/auth/oauth.rs
  src/cli_http.rs
  src/cli_utils/schema_import.rs
  src/cluster/tls.rs
  src/edge/http_sync.rs
  src/http_client.rs
  src/lib.rs
  src/protocol/kafka/tests/tls.rs
  src/security/vault.rs
  src/server/mod.rs
  src/server/quic_transport.rs
  src/server/tls.rs
  src/telemetry/mod.rs
  src/transport/quic.rs
  src/transport/webtransport.rs
  src/ui/client.rs
  tests/tls_crypto_provider_test.rs
Due: unit, integration

fix(core): fail closed for unsupported contracts and marketplaces
  .github/workflows/stability-tier-check.yml
  CLAUDE.md
  Cargo.toml
  SECURITY.md
  docs/API_STABILITY.md
  scripts/check_stability_tiers.sh
  scripts/stability-tier-baseline.txt
  src/cdc/mod.rs
  src/cli_utils/plugin_manager.rs
  src/connect/marketplace.rs
  src/contracts/assertion.rs
  src/contracts/mod.rs
  src/contracts/runner.rs
  src/contracts/validation.rs
  src/faas/engine.rs
  src/lib.rs
  src/marketplace/declarative.rs
  src/marketplace/registry.rs
  src/plugin/mod.rs
  src/schema/json_schema.rs
  src/server/contracts_ci.rs
  src/server/contracts_validate_api.rs
  src/server/mod.rs
  src/server/rate_limiter.rs
  src/testing.rs
Due: unit

fix(release): gate and resume coordinated publication
  .github/workflows/benchmarks-unified.yml
  .github/workflows/ci.yml
  .github/workflows/compatibility.yml
  .github/workflows/publish-crate.yml
  .github/workflows/publish-sdks.yml
  .github/workflows/release-gate.yml
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  Cargo.toml
  LAUNCH.md
  RELEASING.md
  SECURITY.md
  scripts/publish-sdks.sh
  scripts/release/publish-crates.sh
  scripts/release/require-release-credentials.sh
  scripts/release/resolve-publish-mode.sh
  scripts/release/tests/release-scripts.test.sh
  scripts/release/verify-sdk-version.sh
  src/server/cdc_api.rs
  src/storage/mod.rs
  tests/packaging_metadata_test.rs
  tests/release_scripts_test.rs
Due: unit, integration

chore(release): prepare v0.4.0
  .github/workflows/cross-sdk-integration.yml
  Cargo.lock
  Cargo.toml
  LAUNCH.md
  README.md
  RELEASING.md
  contrib/grafana-datasource/package.json
  contrib/grafana-datasource/plugin.json
  crates/streamline-analytics/Cargo.toml
  crates/streamline-wasm/Cargo.toml
  openapi/streamline-api-v1.yaml
  src/faas/engine.rs
Due: unit

fix(platform): restore Linux network builds on Rust 1.88
  Cargo.toml
  src/cli_utils/doctor.rs
  src/cli_utils/tune.rs
  src/faas/autoscaler.rs
  src/lib.rs
  src/network/dpdk/data_plane.rs
  src/network/dpdk/eal.rs
  src/network/dpdk/mbuf.rs
  src/network/dpdk/port.rs
  src/network/rdma/config.rs
  src/network/rdma/connection.rs
  src/network/rdma/device.rs
  src/network/rdma/memory.rs
  src/network/rdma/mod.rs
  src/network/rdma/transport.rs
  src/network/xdp/capabilities.rs
  src/network/xdp/data_plane.rs
  src/network/xdp/filter.rs
  src/network/xdp/mod.rs
  src/network/xdp/program.rs
  src/network/xdp/socket.rs
  src/observability/ebpf.rs
  src/observability/mod.rs
  src/observability/system.rs
  src/runtime/affinity.rs
  src/runtime/numa.rs
  src/server/dashboard_api.rs
  src/storage/io_backend/direct.rs
  src/storage/io_backend/sqpoll.rs
  src/storage/io_backend/standard.rs
  src/storage/io_backend/sync_direct.rs
  src/storage/io_backend/uring_net.rs
  src/storage/prefetch.rs
Due: unit

fix(storage): make io_uring ownership cancellation-safe
  src/storage/io_backend/mod.rs
  src/storage/io_backend/uring.rs
  src/storage/io_backend/uring_advanced.rs
  src/storage/io_backend/uring_registration.rs
  src/storage/io_backend/worker.rs
  src/storage/mod.rs
Due: unit

fix(api): generate complete serde-accurate OpenAPI
  .spectral.yaml
  CLAUDE.md
  docs/API_STABILITY.md
  openapi/streamline-api-v1.yaml
  scripts/generate_openapi.py
  tests/openapi_spec_test.rs
Due: integration

fix(ci): enforce Linux and unsafe regression gates
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
  .github/workflows/security-scan.yml
  crates/streamline-serde-wincode/src/lib.rs
  scripts/check_unsafe_budget.py
  src/bincode_compat.rs
  tests/fixtures/unsafe_budget/string_literals/src/lib.rs
  tests/fixtures/unsafe_budget/workspace_member/Cargo.toml
  tests/fixtures/unsafe_budget/workspace_member/member/Cargo.toml
  tests/fixtures/unsafe_budget/workspace_member/member/src/lib.rs
  tests/packaging_metadata_test.rs
  tests/unsafe_budget_test.rs
  tests/zerocopy_test.rs
Due: unit, integration

fix(test): make dependency lock checks offline
  tests/dependency_security_test.rs
Due: integration

fix(ci): prove benchmark failure propagation
  .github/workflows/benchmarks-unified.yml
  tests/fixtures/benchmark_snapshot/failing-command.sh
  tests/packaging_metadata_test.rs
Due: integration

fix(docs): mark feature-gated examples non-doctest
  src/cluster/autoscaler.rs
  src/edge/mod.rs
  src/streamql/natural_language.rs
Due: unit

fix(ci): bound all-feature test memory
  .cargo/config.toml
  .github/workflows/ci-full.yml
  .github/workflows/ci.yml
  tests/packaging_metadata_test.rs
Due: integration

Path conditions:
  unit: any of: src/, but not: build.rs, benches/**/*, examples/**/*, **/*.generated.rs, tests/common/**/*
  integration: any of: tests/, but not: build.rs, benches/**/*, examples/**/*, **/*.generated.rs, tests/common/**/*
