Repository StreamLineLabs/streamline: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

fix: prevent log segment corruption on crash
  src/cdc/change_event.rs
Due: unit

refactor: clean up protocol handler dispatch
  src/streamql/lexer.rs
Due: unit

fix: correct consumer group coordinator election
  src/runtime/shard.rs
Due: unit

feat: support SASL authentication
  CODEOWNERS
Due: none

perf: reduce memory allocation in fetch path
  .github/workflows/cross-sdk-integration.yml
  Cargo.toml
  src/cli_errors.rs
  src/error/hints.rs
  src/server/http.rs
Due: unit

test: add protocol conformance tests
  CHANGELOG.md
Due: none

refactor: optimize segment compaction pipeline
  CHANGELOG.md
Due: none

fix: resolve partition rebalance race condition
  CHANGELOG.md
Due: none

ci: update CI, docs, jepsen, and SDK publish workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/jepsen.yml
  .github/workflows/publish-sdks.yml
Due: none

feat: implement AMQP and gRPC gateway protocols
  src/gateway/amqp.rs
  src/gateway/grpc.rs
  src/gateway/mod.rs
Due: unit

feat: update GraphQL types and server API layer
  src/graphql/types.rs
  src/server/api.rs
Due: unit

docs: update changelog, README, and AI pipeline examples
  CHANGELOG.md
  README.md
  examples/ai/anomaly-alerting/README.md
  examples/ai/rag-pipeline/README.md
  examples/ai/semantic-router/README.md
  examples/external-clients/nodejs/package.json
Due: none

perf: optimize partition assignment algorithm
  crates/streamline-analytics/src/error.rs
Due: none

chore: update tokio to latest patch
  CHANGELOG.md
Due: none

test: add integration tests for produce batching
  tests/protocol_transaction_test.rs
Due: integration

fix: resolve consumer group rebalance edge case
  tests/crash_recovery_test.rs
Due: integration

feat: add TLS configuration support
  docs/DEPRECATIONS.md
  examples/README.md
Due: none

feat: add TLS configuration support
  docs/TLS.md
Due: none

test: add integration test scaffolding
  README.md
Due: none

test: add integration test scaffolding
  tests/integration_helpers.rs
Due: integration

feat: implement health check endpoint
  README.md
Due: none

feat: implement health check endpoint
  docs/DEPRECATIONS.md
Due: none

feat: implement error handling improvements
  README.md
Due: none

feat: implement error handling improvements
  docs/ERROR_CODES.md
Due: none

perf: reduce memory allocation in hot path
  README.md
Due: none

perf: reduce memory allocation in hot path
  src/storage/mod.rs
Due: unit

fix: handle malformed protocol responses
  src/protocol/mod.rs
Due: unit

fix: handle malformed protocol responses
  README.md
Due: none

docs: update SDK compatibility matrix
  docs/SDK_COMPATIBILITY_MATRIX.md
Due: none

fix: resolve race condition in partition rebalancing
  .config/nextest.toml
Due: none

chore: update tokio runtime configuration defaults
  .config/nextest.toml
Due: none

docs: update architecture decision records
  tests/README.md
Due: integration

perf: optimize message batch processing throughput
  .cargo/config.toml
Due: none

feat: add configurable log compaction trigger threshold
  CHANGELOG.md
Due: none

refactor: improve partition assignment algorithm during rebalance
  CHANGELOG.md
Due: none

docs: improve partition retention configuration reference
  CHANGELOG.md
Due: none

fix: resolve consumer group rebalance starvation under load
  CHANGELOG.md
Due: none

Path conditions:
  unit: any of: src/, but not: build.rs, benches/**/*, examples/**/*, **/*.generated.rs, tests/common/**/*
  integration: any of: tests/, but not: build.rs, benches/**/*, examples/**/*, **/*.generated.rs, tests/common/**/*
